<div class="form-group">
    <label class="control-label" for="name">Sind Sie sich sicher, dass Sie das folgende Element löschen wollen? <br /> <br />
        Dadurch wird nur der Account-Eintrag selbst gelöscht.<br />
        Wenn Sie den Benutzer und alle seine Daten löschen möchten, tun Sie dies über die Benutzerverwaltungsseite.</label>
    <input type="text" name="displayName" id="name" class="form-control" disabled>
</div>