<div class="form-group">
    <label class="control-label" for="name">Sind Sie sich sicher, dass Sie das folgende Element löschen wollen?</label>
    <input type="text" name="displayName" id="name" class="form-control" disabled>
</div>