apiVersion: apps/v1
kind: Deployment
metadata:
  name: shd-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: shd
spec:
  replicas: {{ SHD_REPLICAS|default("1", true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      #maxUnavailable: 1
  revisionHistoryLimit: 4
  paused: false
  selector:
    matchLabels:
      app: shd
  template:
    metadata:
      labels:
        app: shd
      annotations:
    spec:
      securityContext:  
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: shd
        image: {{ SUPERHERO_DASHBOARD_IMAGE }}:{{ SUPERHERO_DASHBOARD_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - name: shd
          containerPort: 3033
          protocol: TCP
        envFrom:
        - configMapRef:
            name: shd-configmap
        - secretRef:
            name: shd-secret
        resources:
          limits:
            cpu: {{ SHD_CPU_LIMITS|default("1000m", true) }}
            memory: {{ SHD_MEMORY_LIMITS|default("2Gi", true) }}
          requests:
            cpu: {{ SHD_CPU_REQUESTS|default("100m", true) }}
            memory: {{ SHD_MEMORY_REQUESTS|default("128Mi", true) }}
