apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: shd-basic-auth-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: shd
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/shd-basic-auth"
