#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: shd-secret
  labels:
    app: shd
  namespace: {{ NAMESPACE }}
type: Opaque
data:
  API_KEY: "{{ API_KEY | b64encode }}"
