<div class="form-group">
  <label class="control-label" for="name">Sind Sie sich sicher, dass Sie alle Dateien der Schule löschen wollen?</label>
  <input type="text" name="name" id="name" class="form-control" disabled />
  <input type="text" name="id" id="schoolId" class="form-control" disabled />
  <label class="control-label" for="name">Bitte geben Sie die Id der Schule als Bestätigung ein</label>
  <input
    type="text"
    name="repeatSchoolId"
    id="repeatSchoolId"
    class="form-control"
  />
</div>