{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/events/events.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}

    {{/content}}

    {{#content "page"}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 no-padding">
                    <a href="releases" class="btn btn-primary">Releases fetchen</a>
                </div>
            </div>
        </div>

    {{/content}}r
{{/extend}}
