@import "../lib/colors.scss";
@import "../lib/bootstrap/scss/bootstrap-flex";

.file-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0px;

  .file-input {
    margin: 10px 0px;
  }
}

.batch-list {
  list-style-type: none;
  padding: 0;
}

.batch-list-item {
  margin: 14px 0px;
}

.batch-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $gray-lightest;

  .batch-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-thin {
    max-height: 40px;
  }

  .details-toggle {
    margin-left: 20px;
  }

  .status-chip {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    border-radius: 9999px;
    padding: 0 10px;
    height: 26px;
    font-size: 14px;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;

    &.status-created {
      background-color: $brand-info;
    }

    &.status-pending {
      background-color: $brand-warning;
    }

    &.status-finished {
      background-color: $brand-success;
    }
  }
}

.id-list {
  white-space: pre-wrap;
  word-wrap: break-word;
  cursor: text;
  user-select: all;
  background-color: $gray-lightest;
  padding: 10px;
}

.copy-btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

// button {
//   cursor: pointer;
// }
