<div class="form-group">
    <label class="control-label" for="firstName">Vorname</label>
    <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Rufus" required>
</div>
<div class="form-group">
    <label class="control-label" for="lastName">Nachname</label>
    <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Everwood" required>
</div>
<div class="form-group">
    <label class="control-label" for="email">E-Mail</label>
    <input type="text" name="email" id="email" class="form-control" placeholder="rufus@everwood.com" required>
</div>
<div class="form-group">
    <label class="control-label" for="roles">Rolen</label>
    <select name="roles" multiple>
        {{#each role}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="checkbox">Silent Creation - Keine E-Mail</label>
    <input type="checkbox" name='silent'>
</div>