<div class="form-group">
    <label class="control-label" for="rollback-firstName">Vorname</label>
    <input type="text" name="firstName" id="rollback-firstName" class="form-control" readonly>
</div>
<div class="form-group">
    <label class="control-label" for="rollback-lastName">Nachname</label>
    <input type="text" name="lastName" id="rollback-lastName" class="form-control" readonly>
</div>
<div class="form-group">
    <label class="control-label" for="rollback-email">E-Mail</label>
    <input type="text" name="email" id="rollback-email" class="form-control" readonly>
</div>
<div class="form-group">
    <label class="control-label" for="rollback-ldapId">Externe ID</label>
    <input type="text" name="ldapId" id="rollback-ldapId" class="form-control" readonly>
</div>
<div class="form-group">
    <label class="control-label" for="rollback-previousExternalId">Vorherige externe ID</label>
    <input type="text" name="previousExternalId" id="rollback-previousExternalId" class="form-control" readonly>
</div>
<div class="form-group">
    <label class="control-label" for="rollback-ldapDn">LDAP DN</label>
    <input type="text" name="ldapDn" id="rollback-ldapDn" class="form-control" readonly>
</div>
<div class="form-group">
    <label class="control-label" for="rollback-lastLoginSystemChange">Letzte Anmeldesystemänderung</label>
    <input type="text" name="lastLoginSystemChange" id="rollback-lastLoginSystemChange" class="form-control" readonly>
</div>
<div class="form-group">
    <label class="control-label" for="rollback-outdatedSince">Veraltet seit</label>
    <input type="text" name="outdatedSince" id="rollback-outdatedSince" class="form-control" readonly>
</div>

<hr/>

<h5><b>Warnung</b></h5>
<ul>
    <li>Nach dem Zurücksetzten der Migration bei einem "E-Mail"-Account muss das Passwort manuell zurückgesetzt werden, um sich wieder anmelden zu können</li>
    <li>Wenn die Migration an der Schule des Nutzers bereits abgeschlossen ist, wird dieser Account als veraltet markiert und der Nutzer kann sich ohne erneute Migration mit seinem neuen Anmeldesystem anmelden, wodurch ein neuer Account erstellt wird</li>
</ul>

<p>Möchten sie die Migration dieses Nutzers wirklich rückgängig machen?</p>