@import '../lib/colors.scss';
@import '../lib/bootstrap/scss/bootstrap-flex';

.section-events  {
  .fa-trash-o {
    color: $colorPromotrMain;
  }

  .card-img-bottom {
    color: #fff;
    height: 10rem;
    background-size: cover;
  }

  .col-event {
    padding: 0;
  }

  .card-text {
    font-size: large;
  }
}

