@import '../lib/colors.scss';
@import '../lib/bootstrap/scss/bootstrap-flex';


body {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;

    h3 {
        color: $primaryColor;
        font-weight: bold;
    }

    hgroup {
        text-align: center;
        font-weight: bold;
        margin: 100px 0px 60px;
        width: 100%;
        float: left;

        &.huge-gap {
            margin-bottom:100px;
        }
    }

    .form-wrapper {
        z-index: 10;
        position: relative;
        float: left;
        width: 100%;
    }

    .center-text {
        text-align: center;
    }
}
