{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}

    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                let trace = {
                    x: [{{{x}}}],
                    y: [{{y}}],
                    type: 'scatter',
                    line: {color: '#b10438'},
                    fill: 'tozeroy'
                };
                let data = [trace];
                Plotly.newPlot('myDiv', data);
            });
        </script>
    {{/content}}

    {{#content "page"}}
        <div class="row">
            <div id="myDiv"></div>
        </div>
    {{/content}}
{{/extend}}
