<div class="form-group">
	<label for="batch-title">Name des Batches</label>
	<input id="batch-title" class="form-control" name="batchTitle" type="text" data-force-value="true" required>
</div>
<div class="form-group">
	<label>Datei hochladen (nur CSV, max 3MB)</label><br/>
	<input type="hidden" id="batch-file-data" name="batchFileData" value="">
	<input type="file" id="batch-file-input" accept=".csv" required>
	<label for="batch-file-input" class="btn btn-secondary">Datei auswählen</label>
</div>
<div class="form-group">
	<div class="batch-file-upload">
		<span id="batch-file-name">Keine Datei ausgewählt</span>
	</div>
</div>
