<footer class="hide-inline small-footer">
    <div class="imprint">
        <div class="center">
            <a>&copy; 2018 </a>

            <div>
                <a href="http://www.n-21.de/staticsite/staticsite.php?menuid=3&topmenu=3" target="_blank">Impressum & Datenschutzerklärung</a>
            </div>
        </div>
    </div>
</footer>
