// --- ctltool-* Klassen aus loggedin.scss ---
.ctltool-hint {
  font-size: 0.75rem;
}

.ctltool-flex-col {
  display: flex;
  flex-direction: column;
}

.ctltool-flex-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ctltool-select-70 {
  flex: 70%;
  max-width: 70%;
}

.ctltool-btn-30 {
  flex: 30%;
  max-width: 30%;
}

.ctltool-checkbox-inline {
  width: 10%;
  display: inline-block;
}

.ctltool-icon-label {
  width: 100%;
  display: flex;
  padding-left: 10.5%;
}

.ctltool-icon-label-text {
  flex-basis: 25%;
  align-content: center;
}

.ctltool-icon-input {
  flex-basis: auto;
}

.ctltool-label-fullwidth {
  width: 100%;
}
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 38px;
  color: #55595c;
}

.number-input-field {
  max-width: 64px;
  text-align: end;
}

.full-width {
  width: 100%;
}

.tool-usage-count-label {
  width: 6em;
  display: inline-block
}

