<footer>
    <div class="container">
        <div class="row">  
            <div  class="col-md-4">
            </div>
            <div  class="col-md-4">        
                <h4>Links</h4>
                <ul>
                    <li><a href="https://hpi.de/impressum.html" target="blank">Impressum</a></li>
                </ul>
            </div>
            <div  class="col-md-4">        
                <h4></h4>
            </div>
        </div>
    </div>
</footer>
