<footer class="hide-inline small-footer">
    <div class="imprint">
        <div class="center">
            <img src="/images/footer-logo.png"/>
            <a>&copy; 2018 Schul-Cloud </a>

            <div>
                <a href="https://hpi.de/impressum.html" target="_blank">Impressum</a>
            </div>
        </div>
    </div>
</footer>
