<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="card h-100">
        <div class="card-block">
            <h4 class="card-title"><i class="fa fa-{{icon}}"></i> {{name}}</h4>
            <div class="card-text" style="text-align: center">
                <h5>{{value}}</h5>
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary btn-block" href="/{{action}}/">Graph anzeigen</a>
        </div>
    </div>
</div>