    {{#embed "lib/components/modal" class="details-modal"}}
      {{#content "body"}}
      <div class="modal-body">
        <div class="id-container">
          <div>
            Ausstehend
            <button
              class="btn btn-sm copy-btn"
              data-text-id="pending-ids"
            >
              <i class="fa fa-copy"></i>
            </button>
          </div>
          <div id="pending-ids-section"></div>
        </div>
        <div class="id-container">
          <div>
            Erfolgreich
            <button
              class="btn btn-sm copy-btn"
              data-text-id="deleted-ids"
            >
              <i class="fa fa-copy"></i>
            </button>
          </div>
          <div id="deleted-ids-section"></div>
        </div>
        <div class="id-container">
          <div>
            Fehlgeschlagen
            <button
              class="btn btn-sm copy-btn"
              data-text-id="failed-ids"
            >
              <i class="fa fa-copy"></i>
            </button>
          </div>
          <div id="failed-ids-section"></div>
        </div>
        <div class="id-container">
          <div>
            Übersprungen
            <button
              class="btn btn-sm copy-btn"
              data-text-id="skipped-ids"
            >
              <i class="fa fa-copy"></i>
            </button>
          </div>
          <div id="skipped-ids-section"></div>
        </div>
        <div class="id-container">
          <div>
            Ungültig
            <button
              class="btn btn-sm copy-btn"
              data-text-id="invalid-ids"
            >
              <i class="fa fa-copy"></i>
            </button>
          </div>
          <div id="invalid-ids-section"></div>
        </div>
      </div>
    {{/content}}
  {{/embed}}