{{#extend "lib/loggedin"}}

        {{#content "scripts" mode="append"}}
                <script src="/scripts/jwt.js" type="text/javascript" defer></script>
        {{/content}}

    {{#content "page"}}
        <div class="container-fluid">
            <div class="row mobile-no-margin-right">
                <div class="row card-deck-row">
                    <div class="col-xs-12">
                        <div class="card h-100">
                            <div class="card-block">
                                <h5 class="card-title"><i class="fa fa-user"></i> JWT kopieren und selbst einfügen</h5>
                                <div class="card-text">
                                    <input value="{{jwt}}" class="jwt-input">
                                    <p id="jwt" hidden>{{jwt}}</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary btn-block btn-copy-jwt" title="JWT in die Zwischenablage kopieren">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
