{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/events/events.css"/>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script>
            function copyToClipboard(element) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(element).text()).select();
                document.execCommand("copy");
                $temp.remove();
            }
        </script>
    {{/content}}

    {{#content "page"}}
        <div class="container-fluid">
            <div class="row mobile-no-margin-right">
                <div class="row card-deck-row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="card h-100">
                            <div class="card-block">
                                <h5 class="card-title"><i class="fa fa-user"/> JWT kopieren und selbst einfügen</h5>
                                <div class="card-text">
                                    <input value="{{jwt}}" style="width: 100%;">
                                    <p id="jwt" hidden>{{jwt}}</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary btn-block" title="JWT in die Zwischenablage kopieren" onclick="copyToClipboard('#jwt')">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
