<div class="form-group">
    <fieldset disabled>
        <label class="control-label" for="name">
            Sind Sie sicher, dass Sie das folgende Tool in allen Schulen hinzufügen und aktivieren wollen?
            <input type="text" class="full-width" name="name" id="name">
        </label>
    </fieldset>
</div>
