<div class="form-group">
    <fieldset disabled>
        <label class="control-label" for="name">
            Sind Sie sich sicher, dass Sie das folgende Tool löschen wollen?
            <input type="text" style="width: 100%;" name="name" id="name">
        </label>

        <label class="control-label">
            Zurzeit wird das Tool wie folgt genutzt:
        </label>
    </fieldset>

    <fieldset disabled>
        <label class="control-label" for="school">
            <input type="text" style="max-width: 64px; text-align: end;" name="schoolExternalToolCount" id="school">
            Schule(n)
        </label>
        <br>
        <label class="control-label" for="course">
            <input type="text" style="max-width: 64px; text-align: end;" name="contextExternalToolCountPerContext[course]" id="course">
            Kurs(e)
        </label>
        <br>
        <label class="control-label" for="board">
            <input type="text" style="max-width: 64px; text-align: end;" name="contextExternalToolCountPerContext[boardElement]" id="board">
            Spalten-Board(s)
        </label>
    </fieldset>

    <label class="control-label">
        <br>
        <i>Achtung: Wenn das Tool entfernt wird, kann es in oben genannten Fällen nicht mehr genutzt werden. Bitte bestätigen Sie, dass das folgende Tool gelöscht werden soll.</i>
    </label>
</div>