<div class="form-group">
    <fieldset disabled>
        <label class="control-label" for="name">
            Sind Sie sich sicher, dass Sie das folgende Tool löschen wollen?
            <input type="text" class="full-width" name="name" id="name">
        </label>

        <label class="control-label">
            Zurzeit wird das Tool wie folgt genutzt:
        </label>
    </fieldset>

    <fieldset disabled>
        <label class="control-label" for="school" >
            <span class="tool-usage-count-label">Schule</span>
            <input type="text" class="number-input-field" name="schoolExternalToolCount" id="school">
        </label>
        <br>
        <label class="control-label" for="course">
            <span class="tool-usage-count-label">Kurs-Tools</span>
            <input type="text" class="number-input-field" name="contextExternalToolCountPerContext[course]" id="course">
        </label>
        <br>
        <label class="control-label" for="board">
            <span class="tool-usage-count-label">Bereiche</span>
            <input type="text" class="number-input-field" name="contextExternalToolCountPerContext[boardElement]" id="board">
        </label>
        <br>
        <label class="control-label" for="media-board" id="media-board-label">
            <span class="tool-usage-count-label">Medienregal</span>
            <input type="text" class="number-input-field" name="contextExternalToolCountPerContext[mediaBoard]" id="media-board">
        </label>
    </fieldset>

    <label class="control-label">
        <br>
        <i>Achtung: Wenn das Tool entfernt wird, kann es in oben genannten Fällen nicht mehr genutzt werden. Bitte bestätigen Sie, dass das folgende Tool gelöscht werden soll.</i>
    </label>
</div>
