<div class="form-group">
    <label class="control-label" for="name">
        Sind Sie sich sicher, dass Sie das folgende Tool löschen wollen?<br>
        <i>Achtung: Beim Löschen des Tools wird das Tool auch in allen Kursen und Teams dauerhaft gelöscht. Bitte bestätigen Sie, dass das folgende Tool gelöscht werden soll.</i>
    </label>
    <input type="text" name="name" id="name" class="form-control" disabled>
</div>