{{#extend "lib/loggedin"}}

{{#content "page"}}
			<div class="row">
				<section class="section-school section-default">
					<h2 class="h4">Sammellöschung von Schülern</h2>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12 no-padding">
									<input type="file" id="batchDeletionFileInput" accept=".csv">
									<pre id="output"></pre>
								</div>
							</div>
							<div class="row">
								<textarea id="csvContent" rows="10" cols="50" placeholder="CSV content will appear here..."></textarea>
							</div>
						</div>
				</section>
			</div>
{{/content}}

{{/extend}}